<section class="hero is-fullheight has-text-centered" id="contact">
  <div class="hero-body">
    <div class="container">

      <!-- Contact Header -->
      <h2 class="is-size-2 has-text-weight-bold has-text-black">
        Get In Touch
      </h2>
      <p class="is-size-5 has-text-grey" style="margin-bottom: 2rem;">
        I’m always open to new opportunities, collaborations, or just a friendly chat. 
        Connect with me through the links below:
      </p>

      <!-- Contact Buttons -->
      <div class="buttons is-centered" style="margin-bottom: 2rem;">
        <a href="https://www.linkedin.com/in/youm05/" target="_blank" 
           class="button is-rounded is-black is-outlined has-text-weight-semibold">
          <i class="fab fa-linkedin"></i>&nbsp; Connect on LinkedIn
        </a>
        <a href="mailto:{{site.email}}" target="_blank" 
           class="button is-rounded is-black is-outlined has-text-weight-semibold">
          <i class="fas fa-envelope"></i>&nbsp; Send me an Email
        </a>
        <a href="https://github.com/{{site.github_username}}" target="_blank" 
           class="button is-rounded is-black is-outlined has-text-weight-semibold">
          <i class="fab fa-github"></i>&nbsp; View my GitHub
        </a>
      </div>

      <!-- Divider -->
      <hr>

      <!-- Social Icons -->
      <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black" style="margin-bottom: 1rem;">
        You can also find me here
      </h3>
      <div class="is-size-3">
        <a href="https://www.instagram.com/min_you_s/" target="_blank" class="has-text-black"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/@youm0526-q9j" target="_blank" class="has-text-black"><i class="fab fa-youtube"></i></a>
        <a href="https://www.linkedin.com/in/youm05/" target="_blank" class="has-text-black"><i class="fab fa-linkedin"></i></a>
      </div>

    </div>
  </div>
</section>
